<!DOCTYPE html>
<html lang="en">
    <head>
        <% include partial/template/head.ejs %>
    </head>
    <body class="<%= page%>">
    <% include partial/template/header.ejs %>
    <%include partial/content/speakerslist.ejs%>

<section class="layout">
    <div class="primary">
        <div>
            <%include partial/content/whoarewe.ejs%>
            <%include partial/content/getbusy.ejs%>
            <%include partial/content/whoshouldcome.ejs%>
        </div>
    </div>
    <aside class="secondary">
        <div>
            <%include partial/content/nextmeeting.ejs%>
            <%include partial/content/artworklist.ejs%>
        </div>
    </aside>

</section>

    <% include partial/template/footer.ejs %>
    <% include partial/template/jsdefaults.ejs %>

    </body>
</html>